django/
activate
core
.env
.env.*
*.tar
!.env.example
web/.env
web/.env.production
.dockersetup
.initial_setup
.venv/
.vscode/
.django/
__pycache__/
postgres_data/
*.pyo
*.yml
*.pyc
*.egg-info
*.log
*.DS_Store
*.swp
*.tmp
*.sqlite3
*.sqlite
*.log
logs/
cache/
resp.json
login.json
/analytics/grafana
/analytics/prometheus
/scripts/dbtools/backups/
/scripts/dbtools/db_backups.txt


**/migrations/*
!**/migrations/__init__.py
node_modules/
web/node_modules/
web/.vite/
