#root {
  max-width: none;
  margin: 0;
  padding: 0;
  text-align: left;
}

.card {
  padding: 2em;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
  appearance: textfield;
}
